services:
  server:
    image: docker.gitea.com/gitea:1.25.4
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: unless-stopped
    volumes:
      - gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "22:22"
    labels:
      - traefik.enable=true
      - traefik.http.routers.gitea.rule=Host(`git.${HOST}.local`)
      - traefik.http.routers.gitea.entrypoints=web
      - traefik.http.services.gitea.loadbalancer.server.port=3000
    networks:
      - default
      - proxy

volumes:
  gitea:

networks:
  proxy:
    external: true
    name: traefik_proxy
