services:
  traefik:
    image: traefik:v3.6.8
    container_name: traefik
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=traefik
      - --providers.docker.defaultRule="Host(`{{ normalize .Name }}.${HOST_NAME}.local`)"
      - --entrypoints.web.address=:80
      - --api.dashboard=true
      - --log.level=INFO
      - --tracing=true
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`${HOST_NAME}.local`)
      - traefik.http.routers.traefik.entrypoints=web
      - traefik.http.routers.traefik.service=api@internal
    networks:
      - traefik
    restart: unless-stopped

networks:
  traefik:
    external: true
